<div class="panel">
  <div class="panel-header">
    <div class="panel-title panel-title--lg">Shoutbox</div>
  </div>
  <div class="panel-body">
    <div class="shout-list">
      <div class="shout" *ngFor="let shout of shouts">
        <div class="shout-content">
          <span [innerHTML]="sanitize.cleanHtml(shout._content_rendered)"></span>
        </div>
        <div class="shout-user">
          <span>{{moment(shout.created).format('h:mm A')}} · </span><a [routerLink]="['/user', shout.user]"><span [innerHTML]="sanitize.cleanHtml(shout.rendered_username)"></span></a>
        </div>
      </div>
    </div>
    <form class="shout-form" *ngIf="authenticated" (submit)="clickShout()">
      <input type="text" placeholder="Give a shout" [(ngModel)]="shoutInput" [ngModelOptions]="{standalone: true}" />
      <button class="button-primary" type="submit"><i class="fa fa-bullhorn fa-fw"></i> Shout</button>
      <button class="button-hollow-primary" (click)="clickReload()"><i class="fa fa-sync fa-fw"></i> Reload</button>
    </form>
  </div>
</div>
