.shout-list {
  min-height: 240px;
  max-height: 240px;
  overflow-y: auto;
  overflow-wrap: break-word;
  padding: 1rem 1rem 0 1rem;
}

.shout {
  line-height: 2;
}

.shout-form {
  display: flex;
  padding: 0 1rem 1rem 1rem;
  width: 100%;

  input[type="text"] {
    flex: 1;
  }

  [class^="button"] {
    margin-left: 1rem;
  }
}
