.event {
  &__image {
    &Container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        max-width: 600px;
      }
    }
  }
}
