@import '~scss/mixins';
@import '~scss/theming';

.startThread {
  position: relative;
  height: 64px;
  margin-bottom: 3rem;
  &Container {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
  }
  &Icon {
    font-size: 24px;
    position: absolute;
    left: 1rem;
    top: .75rem;
  }
  &Input {
    border: none;
    box-shadow: none;
    font-size: 16px;
    padding-left: 4rem;
    height: 64px;
    width: 100%;
  }
  &Button {
    background-color: $primary;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    height: 64px;
    width: 64px;
    text-align: center;
    line-height: 64px;
  }
}
