@import '~scss/mixins';
@import '~scss/theming';

.user {

  &__img {
    border-radius: 50%;
    background-color: green;
    margin-right: 1.5rem;
    height: 96px;
    width: 96px;
  }

  &__name {
    @include bold;
    font-size: 24px;
  }

  &__splitter {
    height: 32px;
    border: none;
    border-left: 2px solid white;
    margin: 0 .5rem;
    opacity: .1;
  }
}
