<div class="musicPlayer" *ngIf="audio.playQueue.length > 0">
  <div class="musicPlayer__container">
    <div class="musicPlayer__info hideOnMobile">
      <div class="musicPlayer__image">
        <img [src]="audio.playQueue[0].album_thumbnail" alt="">
      </div>
      <div>
        <div>{{audio.playQueue[0].title}}</div>
        <div>{{audio.playQueue[0].artist_name}}</div>
      </div>
    </div>
    <div class="musicPlayer__controls">
      <div class="musicPlayer__buttons">
        <button class="button-circle--small margin-right"
          (click)="audio.back()"><i class="fas fa-backward fa-fw"></i></button>
        <button class="button-circle--small margin-right"
          (click)="audio.play()" *ngIf="audio.paused"><i class="fas fa-play fa-fw"></i></button>
        <button class="button-circle--small margin-right"
          (click)="audio.pause()" *ngIf="!audio.paused"><i class="fas fa-pause fa-fw"></i></button>
        <button class="button-circle--small"
          (click)="audio.next()"><i class="fas fa-forward fa-fw"></i></button>
        <button class="button-circle--small showViz"
          *ngIf="audio.audioAnalyser"
          (click)="openVisualizer()">
          <i class="fas fa-eye fa-fw"></i>
        </button>
      </div>
      <div class="musicPlayer__flex">
        <div id="currentTime">{{timeFormat(audio.currentTime)}}</div>
        <div class="musicPlayer__trackerContainer" (click)="clickTrackBar($event)">
          <div id="tracker" (click)="$event.stopPropagation()"></div>
          <div id="tracked" (click)="$event.stopPropagation()" [ngStyle]="{'width': audio.trackPercent + '%'}"></div>
        </div>
        <div id="totalTime">{{timeFormat(audio.duration)}}</div>
        <div class="musicPlayer__flex hideOnMobile">
          <i class="fas fa-volume-up" id="volumeIcon"></i>
          <div class="musicPlayer__volumeContainer" (click)="clickVolumeBar($event)">
            <div id="volume_tracker" (click)="$event.stopPropagation()"></div>
            <div id="volume_level" (click)="$event.stopPropagation()" [ngStyle]="{'width': audio.volume * 100 + '%'}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
