@import '~scss/mixins';
@import '~scss/theming';

:host {
  position: relative;
}

.musicPlayer {
  background-color: $nav-background;
  color: $default-text-on-dark;
  box-shadow: 0px 2px 4px rgba(33, 37, 41, 0.5);
  height: 124px;
  width: 100%;
  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100%;
    padding: 0 1rem;
    width: 100%;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__image {
    height: 96px;
    width: 96px;
    margin-right: 2rem;
  }
  &__controls {
    flex: 1;
    margin: 0 4rem;
  }
  &__buttons {
    position: relative;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  &__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__trackerContainer {
    position: relative;
    width: 100%;
    min-width: 150px;
    flex: 1;
    margin: 0 1.5rem;
    padding: 1rem 0;
    height: 5px;
  }
  &__volumeContainer {
    position: relative;
    width: 100px;
    margin-left: 1.5rem;
    padding: 1rem 0;
    height: 5px;
  }
  #volume_tracker {
    background-color: $oc-gray-6;
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 2.5px);
    width: 100%;
  }
  #volume_level {
    height: 5px;
    background-color: $oc-gray-4;
    width: 20%;
    position: absolute;
    top: calc(50% - 2.5px);
    left: 0;
  }
  #volumeIcon {
    margin-left: 1rem;
  }
  #tracker {
    background-color: $oc-gray-6;
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 2.5px);
    width: 100%;
  }
  #currentTime, #totalTime {
    text-align: center;
    width: 60px;
  }
  #tracked {
    height: 5px;
    background-color: $oc-gray-4;
    width: 20%;
    position: absolute;
    top: calc(50% - 2.5px);
    left: 0;
  }
}

.showViz {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 680px) {
  .musicPlayer {
    height: 90px;
    &__controls {
      margin: 0;
    }
    &__buttons {
      margin-bottom: .5rem;
    }
  }
}
