<app-page-header [(breadcrumbs)]="breadcrumbs"></app-page-header>
<div class="container">
  <div class="panel" *ngIf="thread">
    <div class="panel-body padding">
      <div class="thread__actions">
        <div class="thread__flag" *ngIf="thread.flagged">
          <div class="flex-row flex-align-center">
            <i class="thread__flag__icon fa fa-flag fa-fw"></i>
            <span>This post has open reports</span>
          </div>
          <div class="flex-row flex-align-center">
            <a href="#">View Reports</a>
          </div>
        </div>
        <i class="thread__action fa fa-flag fa-fw"></i>
        <i class="thread__action fa fa-edit fa-fw"></i>
        <i class="thread__action fa fa-trash fa-fw"></i>
      </div>
      <small>{{moment(thread.created).format('MMM D, YYYY · h:mm A')}}</small>
      <h1>{{thread.title}}</h1>
      <div class="thread__user">
        <img class="thread__user__img" src="https://punkweb.net/{{thread.user_image}}" />
        <div class="thread__user__name" [innerHTML]="sanitize.cleanHtml(thread.user_rendered_username)"></div>
        <div class="thread__user__joined">Joined Feb 12, 2018</div>
        <div class="thread__user__splitter"></div>
        <div class="thread__user__posts">{{thread.user_post_count}} Posts</div>
        <div class="thread__user__badges">
          <div class="thread__user__badge">Administrator</div>
          <div class="thread__user__badge">5 Star Man</div>
        </div>
      </div>
      <p [innerHTML]="sanitize.cleanHtml(thread._content_rendered)"></p>
      <!-- <p [innerHTML]="sanitize.cleanHtml()"></p> -->
    </div>
  </div>
</div>
