@import '~scss/theming';

.thread {
  &__actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  &__action {
    color: $primary;
    cursor: pointer;
    font-size: 24px;
    margin: .5rem;
  }
  &__flag {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
    padding: 0 1rem;
    margin-right: 1.5rem;

    &__icon {
      color: $error;
      font-size: 24px;
      margin-right: 1rem;
    }
  }
  &__user {
    align-items: center;
    display: flex;
    color: $light-text;
    flex-direction: row;
    margin: 2rem 0;
    &__img {
      border-radius: 100%;
      height: 48px;
      margin-right: 1rem;
      width: 48px;
    }
    &__name {
      margin-right: 1.5rem;
    }
    &__joined {
      font-size: 12px;
    }
    &__splitter {
      height: 32px;
      border: none;
      border-left: 2px solid white;
      margin: 0 .5rem;
      opacity: .1;
    }
    &__posts {
      font-size: 12px;
    }
    &__badges {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin-left: 1.5rem;
    }
    &__badge {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      color: rgba(white, .5);
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      padding: .4rem .75rem;
      margin-left: .5rem;
    }
  }
}
