<app-page-header [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="container">
  <div class="music">
    <div class="panel">
      <div class="panel-body padding">
        <h3 style="margin-top: 0;">Artists</h3>
        <hr />
        <div class="spinner" *ngIf="!artistsLoaded"></div>
        <div class="artistList" *ngIf="artistsLoaded">
          <div class="artist" *ngFor="let artist of artists">
            <div class="artist__image">
              <img [src]="artist.thumbnail" alt="{{artist.name}}" (click)="routeToArtist(artist)">
            </div>
            <h5 class="artist__name"><a (click)="routeToArtist(artist)">{{artist.name}}</a></h5>
            <label>{{artist.genre}}</label>
          </div>
        </div>
        <h3>Events This Week</h3>
        <hr />
        <div class="spinner" *ngIf="!eventsLoaded"></div>
        <p *ngIf="eventsLoaded && eventsThisWeek.length < 1">There are no events scheduled for this week.</p>
        <div class="eventList" *ngIf="eventsLoaded && eventsThisWeek.length > 0">
          <div class="event" *ngFor="let event of eventsThisWeek">
            <div class="event__image">
              <a href="#"><img [src]="event.thumbnail" /></a>
            </div>
            <label>{{event.event_date.format('MMM Do, YYYY')}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
