<div class="panel">
  <div class="panel-body padding">
    <h4>Recent Threads</h4>
    <hr/>
    <div>
      <a href="#">A Collection of Posthumous Civi…</a>
    </div>
    <div>
      <small>Aug 9 · nbills</small>
    </div>
    <hr/>
    <div>
      <a href="#">Fact-finding in itself</a>
    </div>
    <div>
      <small>Jul 23 · jackstraw</small>
    </div>
    <hr/>
    <h4>Recent Activity</h4>
    <hr/>
    <div>
      <a href="#">A Collection of Posthumous Civi…</a>
    </div>
    <div>
      <small>Aug 9 · nbills</small>
    </div>
    <hr/>
    <div>
      <a href="#">Fact-finding in itself</a>
    </div>
    <div>
      <small>Jul 23 · jackstraw</small>
    </div>
  </div>
</div>
