<div class="nav">
  <div class="container">
    <div class="nav-content">
      <a class="nav-title" [routerLink]="['/']">punk web</a>
      <div class="nav-links">
        <a class="nav-link" [routerLink]="['/']">
          <span class="nav-link-icon"><i class="fas fa-comments"></i></span>
          <span>Forum</span>
        </a>
        <a class="nav-link" [routerLink]="['/users']">
          <span class="nav-link-icon"><i class="fas fa-users"></i></span>
          <span>Members</span>
        </a>
      </div>
      <div class="nav-spacer"></div>
      <div class="nav-links" *ngIf="authenticated">
        <a class="nav-link" [routerLink]="['/reports']" *ngIf="superuser">
          <i class="fa fa-ban"></i>
        </a>
        <a class="nav-link" [routerLink]="['/inbox']">
          <i class="fa fa-inbox"></i>
        </a>
        <a class="nav-link" [routerLink]="['/user']">
          <i class="fa fa-cog"></i>
        </a>
        <a class="nav-link" (click)="signOut()">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>
      <div class="nav-links" *ngIf="!authenticated">
        <a class="nav-link" (click)="openSignUpModal()">
          <i class="fas fa-user-plus"></i>
        </a>
        <a class="nav-link" [routerLink]="['/login']">
          <i class="fas fa-sign-in-alt"></i>
        </a>
      </div>
    </div>
  </div>
</div>
