<div class="nav">
  <div class="container">
    <div class="nav-content">
      <a class="nav-title" [routerLink]="['/']">punkweb</a>
      <div class="nav-links">
        <a class="nav-link" [routerLink]="['/music']" title="Music">
          <span class="nav-link-icon"><i class="fas fa-music fa-fw"></i></span>
          <span>Music</span>
          <!-- <span class="hideOnMobile">Music</span> -->
        </a>
        <!-- <a class="nav-link" [routerLink]="['/about']" title="About">
          <span class="nav-link-icon"></span><i class="fas fa-info fa-fw"></i>
          <span class="hideOnMobile">About</span>
        </a> -->
        <!-- <a class="nav-link" [routerLink]="['/shop']" title="Shop">
          <span class="nav-link-icon"><i class="fas fa-shopping-cart fa-fw"></i></span>
          <span class="hideOnMobile">Shop</span>
        </a> -->
        <!-- <a class="nav-link" [routerLink]="['/board']" title="Forum">
          <span class="nav-link-icon"><i class="fas fa-comments"></i></span>
          <span class="hideOnMobile">Forum</span>
        </a> -->
      </div>
      <div class="nav-spacer"></div>
      <ng-container *ngIf="authenticated">
        <div class="nav-links">
          <!-- <a class="nav-link" [routerLink]="['/account']" title="Settings">
            <i class="nav-link-icon fas fa-user"></i>
            <span class="hideOnMobile">Account</span>
          </a> -->
          <a class="nav-link" (click)="signOut()" title="Sign Out">
            <i class="nav-link-icon fas fa-sign-out-alt"></i>
            <span class="hideOnMobile">Sign Out</span>
          </a>
        </div>
      </ng-container>
      <ng-container *ngIf="!authenticated">
        <div class="nav-links">
          <a class="nav-link" (click)="openSignUpModal()" title="Sign Up">
            <i class="nav-link-icon fas fa-user-plus"></i>
            <span class="hideOnMobile">Sign Up</span>
          </a>
          <a class="nav-link" [routerLink]="['/login']" title="Login">
            <i class="nav-link-icon fas fa-sign-in-alt"></i>
            <span class="hideOnMobile">Login</span>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
