<div class="nav">
  <div class="container">
    <div class="nav-content">
      <a class="nav-title" [routerLink]="['/']">punk web</a>
      <div class="nav-links">
        <a class="nav-link" [routerLink]="['/music']" title="Music">
          <span class="nav-link-icon"><i class="fas fa-music"></i></span>
          <span class="hideOnMobile">Music</span>
        </a>
        <!-- <a class="nav-link" href="https://punkweb.net/board/" title="Forum">
          <span class="nav-link-icon"><i class="fas fa-comments"></i></span>
          <span class="hideOnMobile">Forum</span>
        </a> -->
        <a class="nav-link" [routerLink]="['/board']" title="Forum">
          <span class="nav-link-icon"><i class="fas fa-comments"></i></span>
          <span class="hideOnMobile">Forum</span>
        </a>
      </div>
      <div class="nav-spacer"></div>
      <div class="nav-links" *ngIf="authenticated">
        <a class="nav-link" (click)="signOut()" title="Sign Out">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>
      <div class="nav-links" *ngIf="!authenticated">
        <a class="nav-link" (click)="openSignUpModal()" title="Sign Up">
          <i class="fas fa-user-plus"></i>
        </a>
        <a class="nav-link" [routerLink]="['/login']" title="Login">
          <i class="fas fa-sign-in-alt"></i>
        </a>
      </div>
    </div>
  </div>
</div>
