@import '~scss/mixins';
@import '~scss/theming';

.search {
  border-left: 1px solid rgba(white, .2);
  border-right: 1px solid rgba(white, .2);
  color: $default-text-on-dark;
  position: relative;
  height: 64px;
  &Container {
    background-color: #5f636c;
  }
  &Icon {
    font-size: 24px;
    position: absolute;
    left: 1rem;
    top: .75rem;
  }
  &Input {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    padding-left: 4rem;
    height: 64px;
    width: 100%;
  }
}
