@import '~scss/mixins';
@import '~scss/theming';

.artist {

}

app-chart {
  min-width: 400px;
}

.chartContainer {
  max-width: 600px;
  margin: 0 auto;
  overflow-x: auto;
}

.top10List {
  display: flex;
  flex-direction: column;
  .item {
    border-bottom: 1px solid $border;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    &__img {
      height: 50px;
      width: 50px;
    }
    &__rank {
      padding: 0 1rem;
    }
    &__title {
      @include bold;
      color: $primary;
      flex: 1;
    }
    &__plays {
      text-align: right;
    }
  }
}

.artistHeader {
  position: relative;
  height: 450px;
  width: 100%;
  overflow: hidden;
  img {
    height: 450px;
    object-fit: cover;
    width: 100%;
  }
  &__imgWrap {
    height: 450px;
    overflow: hidden;
    &:before {
      content: '';
      background-image: linear-gradient(to top, rgba(black, 1), rgba(black, 0));
      position: absolute;
      height: 100px;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &:after {
      content: '';
      display: block;
      height: 9999px;
    }
  }
  &__artistName {
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 2rem;
  }
}

.albumList {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  justify-content: flex-start;
}

.album {
  margin-bottom: 1rem;
  margin-right: 1rem;
  &__image {
    cursor: pointer;
    height: 200px;
    width: 200px;

    img {
      object-fit: cover;
      height: 200px;
      width: 200px;
    }
  }
  &__name {
    margin: .5rem 0;
  }
}


.event {
  &__title {
    &__container {
      align-items: center;
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }
  }
}

.shopLink {
  display: block;
  margin: 1rem 0;
}

@media screen and (max-width: 680px) {
  .albumList {
    justify-content: center;
  }
}
