@import '~scss/theming';

.artist {

}

.artistHeader {
  position: relative;
  height: 450px;
  width: 100%;
  overflow: hidden;
  img {
    height: 450px;
    object-fit: cover;
    width: 100%;
  }
  &__imgWrap {
    height: 450px;
    overflow: hidden;
    &:before {
      content: '';
      background-image: linear-gradient(to top, rgba(black, 1), rgba(black, 0));
      position: absolute;
      height: 100px;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &:after {
      content: '';
      display: block;
      height: 9999px;
    }
  }
  &__artistName {
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 2rem;
  }
}

.albumList {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  justify-content: flex-start;
}

.album {
  margin-bottom: 1rem;
  margin-right: 1rem;
  &__image {
    cursor: pointer;
    height: 200px;
    width: 200px;

    img {
      object-fit: cover;
      height: 200px;
      width: 200px;
    }
  }
  &__name {
    margin: .5rem 0;
  }
}


.event {
  &__calendar {
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid $hr;
    margin-right: 1rem;
    height: 75px;
    width: 75px;
    min-height: 75px;
    min-width: 75px;
    &__header {
      background-color: $primary;
      color: white;
      font-size: 14px;
      font-weight: 600;
      padding: .25rem;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
    }
    &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      height: 100%;
      width: 100%;
    }
  }
  &__title {
    &__container {
      align-items: center;
      display: flex;
      flex-direction: row;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 680px) {
  .albumList {
    justify-content: center;
  }
}
