@import 'theming';

:host {
  height: 100%;
}

.visualizer {
  background-color: black;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  .visualizerText {
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: white;
    .name {
      text-transform: capitalize;
    }
  }
  .text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 16px;
    right: 16px;
    color: white;
    h4 {
      margin: .5rem 0;
    }
    button {
      margin-top: 1rem;
    }
  }
  .canvasContainer {

  }
  canvas {
    margin: 0 auto;
  }
}
