@import 'open-color';

$primary: #4f62ff;
$primary-hover: lighten($primary, 5%);
$primary-active: darken($primary, 10%);

$default-text-on-light: #3f434a;
$default-text-on-dark: darken(white, 10%);
$default-text: $default-text-on-light;
$light-text: #9ca0a5;
$input-placeholder: $default-text-on-light;

$hr: mix(black, white, 10%);

$error: $oc-red-7;
