<div class="visualizer" [hidden]="!audio || audio.playQueue.length < 1">
  <div class="thumbnail">
    <img *ngIf="audio && audio.playQueue.length > 0" [src]="audio.playQueue[0]?.album_thumbnail_lrg" alt="">
    <canvas #visualizerCanvas height="106px" width="320px"></canvas>
  </div>
  <div class="text">
    <h4>{{audio.playQueue[0]?.title}}</h4>
    <label>By {{audio.playQueue[0]?.artist_name}}</label>
  </div>
  <div class="musicPlayer">
    <div class="musicPlayer__controls">
      <div class="musicPlayer__buttons">
        <button class="button-circle--small margin-right"
          (click)="audio.back()"><i class="fas fa-backward fa-fw"></i></button>
        <button class="button-circle--small margin-right"
          (click)="audio.play()" *ngIf="audio.paused"><i class="fas fa-play fa-fw"></i></button>
        <button class="button-circle--small margin-right"
          (click)="audio.pause()" *ngIf="!audio.paused"><i class="fas fa-pause fa-fw"></i></button>
        <button class="button-circle--small"
          (click)="clickNext()"><i class="fas fa-forward fa-fw"></i></button>
      </div>
      <div class="musicPlayer__flex">
        <div id="currentTime">{{timeFormat(audio?.currentTime)}}</div>
        <div class="musicPlayer__trackerContainer">
          <div id="tracker" (click)="$event.stopPropagation()"></div>
          <div id="tracked" (click)="$event.stopPropagation()" [ngStyle]="{'width': audio?.trackPercent + '%'}"></div>
        </div>
        <div id="totalTime">{{timeFormat(audio?.duration)}}</div>
      </div>
    </div>
    <small>Closing this window won't stop music playback.</small>
  </div>
</div>
