@import '~scss/theming';

.visualizer {
  background-color: $oc-gray-9;
  height: 100%;
  position: relative;

  .thumbnail {
    position: relative;
    height: 320px;
    width: 320px;

    img {
      object-fit: cover;
      height: 320px;
      width: 320px;
    }
    canvas {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 112;
    }
  }

  .text {
    color: white;
    padding: 0 1rem;
    h4 {
      margin: 1rem 0;
    }
  }
}

.musicPlayer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  &__controls {
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  &__buttons {
    position: relative;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  &__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__trackerContainer {
    position: relative;
    width: 100%;
    min-width: 150px;
    flex: 1;
    margin: 0 1.5rem;
    padding: 1rem 0;
    height: 5px;
  }
  #tracker {
    background-color: $oc-gray-6;
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 2.5px);
    width: 100%;
  }
  #currentTime, #totalTime {
    text-align: center;
    width: 60px;
  }
  #tracked {
    height: 5px;
    background-color: $oc-gray-4;
    width: 20%;
    position: absolute;
    top: calc(50% - 2.5px);
    left: 0;
  }
}
